// ========== scss/_base.scss ==========
@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: 730px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

body {
  font-family: var(--ff-reg);
  font-size: var(--fs-400);
  background-color: var(--clr-bg);
  color: var(--clr-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
