$clr-dark: #141d2f;
$clr-light: #fefefe;
$clr-grey: #697c9a;
$clr-blue: #0079ff;
$clr-bg-dark: #1e2a47;
$clr-bg-light: #f6f8ff;
$clr-white: #ffffff;
$clr-error: #f74646;

$font-main: "Space Mono", monospace;
$font-size-base: 1rem;
$font-weight-regular: 400;
$font-weight-bold: 700;

$radius: 0.75rem;
$transition: 0.3s ease;
