// ========== scss/components/_search-form.scss ==========
@use "../variables";
@use "../mixins";

.searchBar {
  @extend %button-base;
  @include mixins.flex;
  flex-direction: row;
  width: 100%;
  height: 3rem;
  background-color: var(--clr-lightBlack);

  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  margin-top: 2.25rem;

  img {
    position: relative;
    height: 20px;
    width: 20px;
    top: 0.8rem;
    left: 0.8rem;
  }

  input {
    flex-grow: 2;
    border: none;
    border-radius: 15px;
    outline: none;
    background-color: var(--clr-lightBlack);

    &::placeholder {
      color: var(--clr-text);
      background-color: var(--clr-lightBlack);
    }
  }

  button {
    position: relative;
    background-color: var(--clr-blue);
    color: var(--clr-white);
    height: 2.4rem;
    width: 5.25rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    right: 0.25rem;
    top: 0.3rem;

    &:hover {
      background-color: var(--clr-blue) / 0.7;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}

.err-msg {
  font-size: 11px;
  text-align: right;
  padding-top: 1rem;
  color: red;
  display: flex;
  align-items: center;
  padding: 0;
  background-color: var(--clr-lightBlack);

  @include mixins.respond(sm) {
    padding-top: 0.5rem;
  }

  @media (max-width: 600px) {
    .searchBar {
      flex-direction: column;
      align-items: stretch;
      gap: 0.5rem;
      height: auto;
      padding: 1rem;
    }

    .searchBar input,
    .searchBar button {
      width: 100%;
    }

    .grid-data {
      flex-direction: column;
      gap: 1rem;
    }

    .list {
      grid-template-columns: 1fr !important;
      grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4";
    }

    .list li {
      justify-content: start;
    }
  }
}
