// ========== scss/components/_theme-toggle.scss ==========
@use "../variables";

/*.dark-mode-body {
  color: hsl(var(--clr-white));
  background-color: var(--clr-card);

}

.dark-mode-text {
  color: hsl(var(--clr-white));
}

.dark-background {
  background-color: var(--clr-card);

  color: hsl(var(--clr-white));
}

.whiteText {
  color: hsl(var(--clr-white)) !important;
}

.whiteImg {
  filter: invert(0.3) sepia(2) saturate(10) hue-rotate(180deg) brightness(900%);
}
*/
